@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap')
@import 'media'

html, 
body
  height: 100%

body
  background: url()

*
  margin: 0
  padding: 0
  text-decoration: none
  font-family: 'Edu SA Beginner', cursive

#root
  width: 320px
  margin: auto
